---
apiVersion: v1
kind: Service
metadata:
  name: auth
  labels:
    app: auth
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: auth
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: auth
    spec:
      restartPolicy: Always
      containers:
        - name: auth
          image: "{{ auth_image }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ auth_time }}"
            - name: APP_PORT
              value: "{{ auth_port }}"
            - name: APP_BASE_PATH
              value: "{{ auth_path }}"
            - name: APP_MONGODB_CONNECTION
              value: "{{ auth_mongodb_connection }}"
            - name: APP_JWT_PUBLIC_KEY
              value: "{{ auth_jwt_public_key }}"
            - name: APP_COS_QINIU
              value: "{{ auth_cos_qiniu }}"
            - name: APP_COS_QINIU_BUCKET
              value: "{{ auth_cos_qiniu_bucket }}"
            - name: APP_COS_QINIU_ACCESS_KEY
              value: "{{ auth_cos_qiniu_access_key }}"
            - name: APP_COS_QINIU_SECRET_KEY
              value: "{{ auth_cos_qiniu_secret_key }}"
            - name: APP_COS_QINIU_DOMAIN
              value: "{{ auth_cos_qiniu_domain }}"
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: "{{ auth_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          livenessProbe:
            httpGet:
              path: "{{ auth_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
