---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
spec:
  rules:
    - host: bestnovo.{{ domain }}
      http:
        paths:
          - backend:
              serviceName: admin
              servicePort: 80
            path: /
    - host: bestnovo.{{ domain }}
      http:
        paths:
          - backend:
              serviceName: auth
              servicePort: 80
            path: "{{ auth_path }}"
    - host: bestnovo.{{ domain }}
      http:
        paths:
          - backend:
              serviceName: core
              servicePort: 80
            path: "{{ core_path }}"
    - host: bestnovo-gene-wx.{{ domain }}
      http:
        paths:
          - backend:
              serviceName: gene-wx
              servicePort: 80
            path: /
  tls:
    - hosts:
        - "bestnovo.{{ domain }}"
        - "bestnovo-gene-wx.{{ domain }}"
      secretName: "{{ domain }}"
